body {
  padding: 5rem 1rem;
  background: rgb(204, 255, 36);
  background: linear-gradient(
    90deg,
    rgba(204, 255, 36, 1) 0%,
    rgba(100, 152, 255, 1) 50%,
    rgba(255, 76, 217, 1) 100%
  );
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

a{
  text-decoration: none !important;
}